.container
  .row.pt-5
    .col-12= image_tag('clinic1-1.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row
      .col-12 石垣歯科は1938年に初代院長の石垣久男が津島神社近くの浦方町にて開業し、
      .col-12 2代目院長の光敏へと引き継ぎ長らく診療をして参りました。
      .col-12 そして80周年目となる節目の年に3代目院長の賢二郎の代になり、
      .col-12 より現代のニーズに応えられよう設備の充実を図り2018.9藤並駅の前へと移転しリニューアル致しました。
