.container
  .row.pt-5
    .col-12.text-left
      %h4.bg-green-area 施設案内
.container
  .row.pt-3
    .col-12 石垣歯科は1938年に初代院長の石垣久男が津島神社近くの浦方町にて開業し、
    .col-12 2代目院長の光敏へと引き継ぎ長らく診療をして参りました。
    .col-12 そして80周年目となる節目の年に3代目院長の賢二郎の代になり、
    .col-12 より現代のニーズに応えられよう設備の充実を図り2018.9藤並駅の前へと移転しリニューアル致しました。
.container
  .row.pt-5
    .col-12.text-left
      %h5.stripe 外観
  .row
    .col-12.pt-3.pb-3.text-left= image_tag('clinic1.png', class: 'img-fluid')
.container.pb-5
  .row.pt-5
    .col-12.text-left
      %h5.stripe 受付・待合・キッズスペース
  .row
    .col-12.pt-3.pb-3.text-left= image_tag('clinic2.png', class: 'img-fluid')

.container
  .row.mt-4.mr-1.ml-1#map
