.container
  .row
    .col-1
    .col-10= image_tag('sticking5-1.jpg', class: 'img-fluid')
    .col-1
.container.mb-5.mt-5
  .row
    .col-1
    .col-10
      %h4.ch4.tx-br
        %i.fas.fa-house-user
        %sapn 訪問診察
  .row
    .col-1
    .col-10= simple_format"当院では20年以上前から訪問診療を行っております。\n超高齢化社会である現代のニーズに応えるためにも今後も訪問診療をより一層充実していきたいと思っております。\nまた認定訪問歯科衛生士も在籍しておりますのでご安心下さい。\n気になる方はまずはご連絡下さい。"
