.container
  .row
    .col-1
    .col-10= image_tag('sticking5-1.jpg', class: 'img-fluid')
    .col-1
.container.mb-5.mt-5
  .row
    .col-1
    .col-10
      %h4.ch4.tx-br
        %i.fas.fa-house-user
        %sapn 訪問診察
  .row
    .col-1
    .col-10= simple_format"当院では２０年以上前から訪問診療を行っており、数多くの施設や個人宅へと訪問させて頂いております。\n超高齢化社会である現代のニーズに答えるためにも今後も訪問診療をより一層充実していきたいと思っております。\nまた認定訪問歯科衛生士も在籍しておりますのでご安心下さい。\n施設の方からのご連絡もお待ちしております。\n気になる方はまずはご連絡下さい。"
  .row.mt-5
    .col-1
    .col-10
      .box29
        .box-title
          %i.fas.fa-book-medical
          %sapn 訪問診療の内容
        .table-responsive.mt-3
          %table.table.table-borderless
            %tbody
              %tr
                %td.text-center.tx-br
                  %i.fas.fa-check-square
                  %sapn 口腔内のケア　　　　　　
                %td.text-center.tx-br
                  %i.fas.fa-check-square
                  %sapn 虫歯の治療　　　　　　　
                %td.text-center.tx-br
                  %i.fas.fa-check-square
                  %sapn 入れ歯の新製、修理、調整
              %tr
                %td.text-center.tx-br
                  %i.fas.fa-check-square
                  %sapn 被せ物の作成　　　　　　
                %td.text-center.tx-br
                  %i.fas.fa-check-square
                  %sapn 摂食、嚥下訓練　　　　　
