.container
  .row.pt-5
    .col-12= image_tag('visit_to_visits.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row
      .col-12=simple_format"当院では２０年以上前から訪問診療を行っており、数多くの施設や個人宅へと訪問させて頂いております。\n超高齢化社会である現代のニーズに答えるためにも今後も訪問診療をより一層充実していきたいと思っております。\nまた認定訪問歯科衛生士も在籍しておりますのでご安心下さい。\n施設の方からのご連絡もお待ちしております。\n気になる方はまずはご連絡下さい。"
