.container
  .row
    .col-1
    .col-10= image_tag('スタッフ紹介-1.jpg', class: 'img-fluid')
    .col-1
.container.mb-5.mt-5
  .row
    .col-1
    .col-10
      %h4.ch4
        %i.fas.fa-house-user
        %sapn 採用情報

  .row.pt-3
    .col-1
    .col-10= simple_format"みなさんこんにちは。\nいしがき⻭科では私達の今後の発展のために力を貸して頂けるスタッフを募集します。\n当院ではスタッフは大切な存在であり財産と考えています。\nスタッフに生き生きとやりがいを持って楽しく働いてもらうからこそ、医院の空気が良くなり、それが患者さんに伝わり、結果的に多くの方々を幸せに出来るものと考えています。\nそのためにもスタッフ全員が共通の志を持って勤務することが重要です。\n当院で勤務しているスタッフは以下の 10 項目に賛同して勤務しております。\nこの考えに共感して頂ける方からのご応募をぜひお待ちしております。"
  .row.pt-3
    .col-1
    .col-10
      .box27
        %span.box-title いしがき⻭科スタッフルール10項目
        %br
        %ol
          %li 元気で明るい挨拶をすること(患者さん、仲間、業者さんなど全ての人に対して)
          %li 全員で助け合って、仲間への感謝の気持ちと尊敬の心を持って仕事をすること
          %li 整理整頓を心がけ、常に効率よく仕事が出来るように意識すること
          %li 身だしなみを常に整えること
          %li 忙しい時こそ慌てずに落ち着いて行動すること
          %li 仕事とプライベートをしっかりと区別すること
          %li どんな言葉でもまずは素直に受け入れること
          %li 誰に対しても平等な立ち振る舞いが出来ること
          %li 常に学びの気持ちを忘れずに自分を磨き続けること
          %li 他人への不平、不満、愚痴をみんなに言いふらさないこと(組織に悪い空気を広めない)

.container.mb-5.mt-5
  .row
    .col-1
    .col-10.border-green-area
      .row.mt-3.pr-3.pl-3
        %h4.col-4 歯科衛生士
      .row.mt-3.mb-3.pr-3.pl-3
        .col-5=image_tag('採用情報_衛生士(パート)バナー.JPG', class: 'img-fluid',
      alt: '')
      .row.pt-3.pr-3.pl-3
        .col-12= simple_format"　いま⻭科界は皆さんも御存知の通り治療から予防へとシフトしており第一線で活躍しているのが⻭科衛生士である皆さんです。\nただ、どこの⻭科医院でも⻭科衛生士が不足しており全くいないか、いても 1 名のみで 勤務していたとしても常に大変な負担とプレッシャーを背負いながら働いているのではないでしょうか?\n当院では複数の衛生士が在籍しておりそういった不安からは解消されます。\n当院での業務内容としては予防処置、保健指導、診療補助など衛生士業務全般です。新人でも複数の先輩方からの指導を元に成⻑できます。\nしばらく診療から遠ざかっていてブランクがある方でもしっかりとサポートさせて頂くため心配ありません。\n小さなお子様がいて働きくい環境でも提携の託児所があるため預け先に心配はありません。\nまだ開院して日が浅い当院の今後のステップアップには⻭科衛生士である皆さんの力が必要です。勤務体系は常勤、パートどちらでも OK。\n少しでも当院に興味を持って頂けたら見学だけでも構いません。\n皆様からのご連絡をスタッフ一同でお待ちしております。"
  .row.mt-5
    .col-1
    .col-10.border-green-area
      .row.mt-3.pr-3.pl-3
        %h4.col-4 受付助手
      .row.mt-3.mb-3.pr-3.pl-3
        .col-5=image_tag('問診票の記入.JPG', class: 'img-fluid',
      alt: '受付助手')
      .row.pt-3.pr-3.pl-3
        .col-12= simple_format"　当院の受付助手の採用条件は経験の有無は全く関係ありません。\n経験が無いから心配だな、知識が無いから心配だな、色々と不安事項はあると思いますが、心配ありません。\n当院で勤務している受付助手は前職は保育士さんであったり、エステティシャンだったりと⻭科とは無関係な世界から来て勤務して頂いています。\n初心者の方でも周りのスタッフがしっかりとサポートと教育します。\n当院が求める素質はあなたの今まで培ってきたコミュニケーション能力や人柄です。\nお話することが大好きな方からのご応募を是非お待ちしています。"
  .row.mt-5
    .col-1
    .col-10.border-green-area
      .row.mt-3.pr-3.pl-3
        %h4.col-4 勤務条件
      .row.mt-3.mb-3.pr-3.pl-3
        .col-5=image_tag('slide5.jpg', class: 'img-fluid',
      alt: '勤務条件')
      .table-responsive.mt-5.pr-3.pl-3
        %table.table.table-striped.table-bordered
          %tbody
            %tr
              %td 勤務地
              %td 〒496-0042 愛知県津島市寺前町 3-21-1
            %tr
              %td 職種
              %td ⻭科衛生士 受付助手 クリーンスタッフ
            %tr
              %td 勤務時間
              %td 平日 8:45~13:15, 14:15~18:45　　土曜 8:45~13:15, 14:15~17:15
            %tr
              %td 休日
              %td 日曜 祝日 木曜(祝日がある週は勤務日となります) GW お盆休み 年末年始
            %tr
              %td 応募
              %td まずはお気軽にお電話ください TEL 080-2655-4677