.container
  .row.pt-5
    .col-12= image_tag('clinic1-1.png', class: 'img-fluid')
.container.pt-5
  .row
    .col-12.text-left
      %h4 はじめての方へ
.container.mb-5
  .border-green-area
    .row
      .col-12 初診時には必ず
      .col-12 ・保険証
      .col-12 ・お薬手帳(お持ちの方のみ)の持参をお願いいたします
      .col-12 ※保険証をお忘れの際には10割負担となりますのでご了承下さい
      .col-12 その後保険証をお持ちいただいた際に余分に頂いた分は返金させて頂きます

-# ①	問診票の記入　※問診票の記載のため予約時間よりも15分ほど早めに来院下さい
-# 患者様の状態を正確に知るために問診票の記載を行って頂きます
-# 痛いところや気になる所から現在飲んでいるお薬、かかっている他の病気などに
-# ついて記入して頂きます
-# ②	カウンセリング
-# 問診票の記載後はカウンセリングルームへ移動し、記載して頂いた問診票の情報を元にスタッフがお話を伺いながら情報を整理していきます
-# その際には痛い所以外にも他に気になる所は無いか(歯並びや歯を白くしたいなど)、歯科での不安事項はないかなども詳細に確認していきます
-# ③	各種レントゲン撮影
-# 虫歯の位置や大きさを確認するためにレントゲン撮影を行います
-# ④	口腔内写真撮影
-# 初診時のお口の中の状態を記録に残すためにデジタルカメラにて写真撮影を行います
-# また定期的にお口の情報を写真で記録することによって過去、現在の比較が出来、
-# お口の中の歴史を残すことが出来ます
-#
-# ⑤	検査
-# 虫歯の状態や歯肉の検査を行います
-# ⑥	説明、処置
-# 各種検査にて収集した情報を元に現在の痛みの原因や今後の治療方針に関して説明を行います
-# ※初回時は原則、検査と説明がメインとなり治療やクリーニングは行いませんのでご了承下さい
-# もちろん強い痛みや腫れなど急性症状時はそちらを優先させて頂きますので
-# ご安心下さい
-# ⑦	会計
-# 初診時の会計は検査のみの方だと健康保険３割負担でおよそ4000円ほどと
-# なります
-# もちろん診療内容次第で金額は変更します
