%h1 Listing portal_flow_examinations

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @portal_flow_examinations.each do |portal_flow_examination|
      %tr
        %td= link_to 'Show', portal_flow_examination
        %td= link_to 'Edit', edit_portal_flow_examination_path(portal_flow_examination)
        %td= link_to 'Destroy', portal_flow_examination, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Flow examination', new_portal_flow_examination_path
