%h1 Listing portal_director_introducings

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @portal_director_introducings.each do |portal_director_introducing|
      %tr
        %td= link_to 'Show', portal_director_introducing
        %td= link_to 'Edit', edit_portal_director_introducing_path(portal_director_introducing)
        %td= link_to 'Destroy', portal_director_introducing, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Director introducing', new_portal_director_introducing_path
