@font-face {
  font-family: 'Kosugi Maru';
  font-style: normal;
  src: url('../../assets/fonts/KosugiMaru-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  src: url('../../assets/fonts/NotoSerifSC-Regular.otf') format("opentype");
}

@import '~bootstrap/dist/css/bootstrap';
@import './main.scss';
