header {
  .content {
    background-color: #ccf4ee;

    .clinic-info {
      font-size: 0.8em;
      color: #69390e;
    }
  }

  .clinic-img-wrapper {
    height: 14em;

    #clinic-img {
      height: 14em;
    }
  }

  .trim {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    .img-wave {
      height: 2em;
      max-width: 500px;
      overflow: hidden;
    }
  }

  .nav-link-icon {
    width: 2em;
  }

  .nav-text {
    font-size: 2vh;
    color: #69390e;
  }
}
