body,
html {
	width: 100%;
	height: 100%;

	.concept {
		background-color: #ccf4ee;
	}

	.sticking {
		background-color: #ABEDE3;
	}

	.medical-contents {
		background-color: #ccf4ee;

		.medical_content {
		}
	}

	.border {
		border: thick solid #FFF !important;
	}

	#map {
		height: 10em;
		margin-bottom: 9em;
	}
}
