body,
html {
	width: 100%;
	height: 100%;

	#sp2 {
		// TODO
		background-image: url('../../assets/images/bg2.png');

		font-family: 'Noto Serif SC', sans-serif;
	}

	#sp, #sp2 {
		font-family: 'Kosugi Maru', sans-serif;
		h4 {
			font-weight: 700;
			color: #69390e;
		}

		.news {
			.news-table {
				border: thick solid #ABEDE3;
				overflow-y:scroll;
				height: 200px;
			}
		}

		.trim {
			overflow: hidden;
			width: 100%;
			position: relative;

			.img-wave {
				height: 2em;
				max-width: 500px;
				overflow: hidden;
			}
		}

		.concept,
		.hospital-introduction {
			background-color: #ccf4ee;
		}

		.sticking {
			background-color: #ABEDE3;
		}

		.medical-contents {
			background-color: #F7E69E;
		}

		.border {
			border: thick solid #FFF !important;
		}

		#map {
			height: 10em;
		}

		#space {
			height: 9em;
		}
	}

  #pc {
		#main {
			background-color: #ccf4ee;

			.border {
				border: thick solid #FFF !important;
			}

			#map {
				height: 10em;
			}
		}
	}
}
