body,
html {
	width: 100%;
	height: 100%;

	.fa-rotate-10 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

	#sp {
		font-family: sans-serif;
		overflow:hidden;

		.pb-2-0 {
			padding-bottom: 2em;
		}

		.tc-b {
			color: #000;
		}

		.border-bottom {
			border-bottom: solid 6px #feed35 !important;
		}

		.attention {
			color: #FF0000;
			font-size: 0.8rem;
		}

		header {
			.content {
				// background-color: #ccf4ee;

				.clinic-info {
					font-size: 0.8em;
					color: #69390e;
					-webkit-text-fill-color: #69390e;
					font-weight: bolder;

					h1 {
						font-size: 7vw;
						font-weight: bold;
					}

					.address {
						font-size: 3vw;
					}

					img {
						max-width: 100%;
					}
				}

				.img-medical-hours {
					width: 100%;
				}

				.img-doctor-file {
					height: 1em;
				}

				.link-director-introduction {
					font-size: 2vw;
					font-family: sans-serif;
					color: #69390e;
				}

				.link-directori-ntroduction{
					padding-top: 0.2em;
				}
			}

			.clinic-img-wrapper {
				overflow: hidden;
				height: 13em;
				position: relative;
			}

			#clinic-img {
				height: 13em;
				overflow: hidden;
			}

			.trim {
				overflow: hidden;
				width: 100%;
				position: relative;

				.img-wave {
					height: 1.7em;
					width: 140%;
					overflow: hidden;
				}
			}

			.nav-link-icon {
				width: 2em;
			}

			.nav-text {
				font-size: 2.5vw;
				color: #69390e;
			}

			.nav-item {
				max-width: 8em;
				min-width: 3.2em;
				height: 3em;
			}
		}

		h4 {
			font-weight: 700;
			color: #69390e;
		}

		h5 {
			color: #69390e;
		}

		.news {
			.news-table {
				border: thick solid #ABEDE3;
				overflow-y:scroll;
				height: 200px;
			}
		}

		.trim {
			overflow: hidden;
			width: 100%;
			position: relative;

			.img-wave {
        width: 140%;
				overflow: hidden;
			}
		}

		.concept,
		.hospital-introduction {
			background-color: #ccf4ee;
		}

		.sticking {
			// background-color: #ccf4ee;

			.text {
				font-size: 0.75rem;
			}

			.title {
				font-size: 0.85rem;
				height: 23vw;
			}

			.title2 {
				font-size: 0.85rem;
				height: 10vw;
			}

			.fa-clipboard-check {
				font-size: 10vw;
			}

			.sticking-img {
				width: 100%;
				height: 4em;
				object-fit: cover;
				border-radius: 0.4em;
			}
			// background-color: #ABEDE3;
		}

		.medical-contents {
			background-color: #F7E69E;
		}

		.border {
			border: thick solid #FFF !important;
		}

		.bg-green-area {
			background-color: #ccf4ee;
			padding: 0.4em;
			border-radius: 0.4em;
		}

		.bg-white-area {
			height: 25rem;
			background-color: #FFF;
			padding: 0.4em;
			border-radius: 0.4em;
		}

		.bg-white-area2 {
			height: 15rem;
			background-color: #FFF;
			padding: 0.4em;
			border-radius: 0.4em;
		}

		.bg-yellow-area {
			background-image: '';
			padding: 0.4em;
			border-radius: 0.4em;
		}

		.border_radius {
	    border-radius: 35px;
		}

		.border-green-area {
			background-color: #FFF;
			padding: 0.4em;
			border-style: solid; border-color: #c0e5df;
			border-radius: 0.4em;
		}

		.imgName {
			text-align: right;
			img {
				height: 3em;
			}
		}

		.ct {
		    position: relative;
		    width: 100%;
		    height: 0;
		    padding-top: 75%;
		}
		.ct iframe{
		    position:absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}

		.pb-10 {
			padding-bottom: 10em;
		}

		.stripe{
		  position: relative;
		  padding: 0.3em;
		}

		.stripe:after {
		  content: '';
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  height: 7px;
		  background: repeating-linear-gradient(-45deg, #1aa596, #1aa596 2px, white 2px, white 4px);
		}

		#map {
			height: 13em;
			margin-bottom: 10%;
		}

		.footer-doctor-introduction {
			margin-bottom: 7em;
			.tel {
				font-size: 2em;

				a {
					display: block;
					text-decoration: none;
				  color: #000;
					border-bottom: solid 6px #feed35 !important;
				}
			}
		}

		footer {
			background:linear-gradient(0deg, #fac72e 0%, #fac72e 74%, #00000000 74%, #00000000 100%);
			.footer-to-home {
				margin-top: 1.4em;
				a {
					text-decoration: none;
					color: #FFF;
				}
			}

			.footer-img {
				background:linear-gradient(0deg, #2fa295 0%, #2fa295 74%, #00000000 74%, #00000000 100%);
				img {
					height: 5em;
				}
			}

			.footer-icon {
				color: #FFF;
				font-size: 2em;
				padding-left: 0.18em;
			}

			.footer-txt {
				font-family: sans-serif;
				color: #FFF;
				font-size: 1em;
				font-weight: bolder;
				a {
					text-decoration: none;
					color: #FFF;
				}

			}
		}
	}

  #pc {
		font-family:  sans-serif;
		color: #69390e;
		-webkit-text-fill-color: #69390e;
		font-weight: bolder;

		header{
			background-color: #FFF;
			line-height: 1em;

			.business-information {
				padding-top: 3em;
				background-color: #ccf4ee;
			}

			h1 {
				font-weight: bolder;
				font-size: 5vw;
				line-height: 1.5em;
			}

			.en {
				font-size: 2.5vw;
			}

			.contact-us {
				font-size: 2.3vw;
				.text {
					font-size: 1.2vw;
				}
			}

			.trim {
				overflow: hidden;
				width: 100%;
				height: 100%;
				position: relative;

				.img-wave {
					width: 140%;
					overflow: hidden;
				}
			}

			.clinic-img-wrapper {
				height: 50em;
			}

			.nav-link-icon {
				padding-left: 1em;
				padding-right: 1em;
				width: 5.5em;
			}

			.navbar-collapse {
				background-color: #FFF;
				padding-top: 2em;
				padding-bottom: 4em;
			}

			.nav-text {
				color: #69390e;
			}
		}

		.news {
			.news-table {
				border: thick solid #ABEDE3;
				overflow-y:scroll;
				height: 200px;
			}
		}

		.trim {
			overflow: hidden;
			width: 100%;
			position: relative;

			.img-wave {
				width: 140%;
				overflow: hidden;
			}
		}

		#main {
			background-color: #ccf4ee;

			.border {
				border: thick solid #FFF !important;
			}

			#map {
				height: 20em;
				margin-bottom: 10em;
			}
		}

		footer{
			height: 5em;
			background-color: #1aa596;
			color: #FFF;
			-webkit-text-fill-color: #FFF;
		}
	}
}
