.container
  .row.pt-5
    .col-12= image_tag('time_and_accesses.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row.pt-2
      .col-12
        %h5 診療時間
    .row
      .col-12.text-center= image_tag('medical_hours.png', alt: '診療時間', class: 'img-fluid')
    .row
      .col-12
        %h5 アクセス
    .row
      .col-12 【電車でお越しの方】
    .row
      .col-12 名鉄津島線藤浪駅より徒歩３分 
