.row.mb-3
  .col-12.text-center
    = image_tag('https://placehold.jp/350x40.png?text=いしがき歯科ロゴ',
      alt: 'いしがき歯科ロゴ', class: 'img-fluid')
.row.mb-3
  .col-12.text-center
    = image_tag('https://placehold.jp/350x100.png?text=診療日時',
      alt: '診療日時', class: 'img-fluid')
.row.mb-3
  .col-12.text-center
    = image_tag('https://placehold.jp/350x200.png?text=医院画像',
      alt: '医院画像', class: 'img-fluid')
.row
  .col-12.text-center= 'メニューエリア'
