.collapse.navbar-collapse
  %ul.navbar-nav.mx-auto
    - contents.each do |c|
      %li.nav-item.text-center.active
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_home.png', class: 'nav-link-icon'
          %br
          .nav-text= c
