:css
  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container.mr-3.ml-3.mt-5
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3260.7626734241003!2d136.7355441151482!3d35.18746726450014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600398edc0cae3f5%3A0x3c4ac376b43c5257!2z44GE44GX44GM44GN5q2v56eR!5e0!3m2!1sja!2sjp!4v1560217945947!5m2!1sja!2sjp", :style => "border:0", :width => "600"}


:css
  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container.sp-map.mt-4.mr-3.ml-3
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!4v1558424278271!6m8!1m7!1sCAoSLEFGMVFpcFBrazIybnR3OGxZaUtubWpNaHlpSmV3Y2N5YnpyeGxtU2R0eFpM!2m2!1d35.18772203479!2d136.73787814582!3f145.00485225452962!4f-9.72329895937304!5f0.7820865974627469", :style => "border:0", :width => "600"}

.container
  .row.mt-4
    .col-12
      .sp-google-calenda
        %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%239ff59f&ctz=Asia%2FTokyo&src=NHJudWV0ZHFsbzlucnFqNzloMDV2YmhuNWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%230B8043&showTitle=0&showPrint=0&showTabs=1&showCalendars=0&showTz=0", :style => "border:solid 1px #777", :width => "460"}

.container.footer-doctor-introduction
  .row.mb-3
    .col-1
    .col-10= image_tag('logo.png', alt: 'いしがき歯科', class: 'img-fluid')
  .row.mb-2
    .col-12.text-center= '電話番号をタップして発信できます。'
  .row
    .col-1
    .col-10.text-center.tel.pl-0.pr-0= link_to 'TEL 0567-22-3977', 'tel:0567223977',
      :onclick => "gtag_report_conversion();"

:javascript
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-467579167/c9fvCLa7yb4CEJ_i-t4B',
        'event_callback': callback
    });
    return false;
  }