.row
  .col-9.pr-0.footer-img.text-center= image_tag('footer.png', alt: '診察のご予約・お問い合わせはこちら', class: 'img-fluid')
  .col-3.footer-to-home.text-center.pl-0
    %i.fas.fa-home.footer-icon
    %br
    .footer-txt= 'ホーム'
-# .footer-img= image_tag('footer.png', alt: '診察のご予約・お問い合わせはこちら')
-# %a{href: 'tel:0567223977'}
-# .footer-txt
-#   %i.fas.fa-home
-#   .text= 'ホーム'
