.collapse.navbar-collapse
  %ul.navbar-nav.mx-auto
    - contents.each do |c|
      %li.nav-item.text-center
        = link_to c[:link], class: 'nav-link' do
          = image_tag c[:img_name], class: 'nav-link-icon'
          %br
          .nav-text= c[:text]
